.SearchBar {
  font-size: 16px;
  float: left;
  width: 80%;
  border: none;
  padding: 10px 22px;
  position: relative;
  padding: 6px 6px;
  left: -15px;
  color: #fafafa;
}

input[type="submit"] {
  border: none;
  font-size: 14px;
  margin: 5px;
  background-color: #00073d;
  color: #fffcef;
  padding: 13px 22px;
}

input[type="search"] {
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #00073d;
}
