#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  margin: 30px;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: center;
  color: #00073d;
}
